<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>List Organizers</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<style>
	a.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
</style>


</head>

<body>

	<div class="container alert alert-light"> <h2>List of Organizers</h2>
		<a th:href="@{/}" style="float: right;">Home</a>
		<br>
		<input id="search" type="text" class="form-control"  placeholder="Search for Organizers">
		<br>
		
		<table class="table">
		  <thead>
			<tr>
				
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email ID</th>
				<th>Contact</th>
				<th>Update</th>
				
				
				

			</tr>
		  </thead>
		  <tbody id="table">
			<tr th:each="users: ${users}" >
				
				<td th:text="${users.firstName}"/>
				<td th:text="${users.lastName}" />
				<td th:text="${users.email}" />
				<td><a th:href="'/deleteUser/'+@{${users.id}}" class="btn btn-info">DELETE</a></td>
				<td><a href="/" th:href="@{/showUpdateForm}" class="btn btn-info">UPDATE</a></td>
				
				
				
				
				
				
			</tr>
		  </tbody>
		</table>

</body>


<script>
	$("#search").on("keyup", function() {
  var value = $(this).val().toLowerCase();
  $("#table tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
});


</script>


</html>